---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1589323870'
      Etag:
      - W/"9e0c34b0c5852a22a7db8a3357fde928"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"leepanter","id":43289682,"node_id":"MDQ6VXNlcjQzMjg5Njgy","avatar_url":"https://avatars3.githubusercontent.com/u/43289682?v=4","gravatar_id":"","url":"https://api.github.com/users/leepanter","html_url":"https://github.com/leepanter","followers_url":"https://api.github.com/users/leepanter/followers","following_url":"https://api.github.com/users/leepanter/following{/other_user}","gists_url":"https://api.github.com/users/leepanter/gists{/gist_id}","starred_url":"https://api.github.com/users/leepanter/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/leepanter/subscriptions","organizations_url":"https://api.github.com/users/leepanter/orgs","repos_url":"https://api.github.com/users/leepanter/repos","events_url":"https://api.github.com/users/leepanter/events{/privacy}","received_events_url":"https://api.github.com/users/leepanter/received_events","type":"User","site_admin":false},{"login":"alex-latham","id":56228986,"node_id":"MDQ6VXNlcjU2MjI4OTg2","avatar_url":"https://avatars3.githubusercontent.com/u/56228986?v=4","gravatar_id":"","url":"https://api.github.com/users/alex-latham","html_url":"https://github.com/alex-latham","followers_url":"https://api.github.com/users/alex-latham/followers","following_url":"https://api.github.com/users/alex-latham/following{/other_user}","gists_url":"https://api.github.com/users/alex-latham/gists{/gist_id}","starred_url":"https:/[...]
[...]
