---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4973'
      X-Ratelimit-Reset:
      - '1589323870'
      Etag:
      - W/"1e3d71af981e63d120b755304087e3ea"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"tylertomlinson","id":16050876,"node_id":"MDQ6VXNlcjE2MDUwODc2","avatar_url":"https://avatars0.githubusercontent.com/u/16050876?v=4","gravatar_id":"","url":"https://api.github.com/users/tylertomlinson","html_url":"https://github.com/tylertomlinson","followers_url":"https://api.github.com/users/tylertomlinson/followers","following_url":"https://api.github.com/users/tylertomlinson/following{/other_user}","gists_url":"https://api.github.com/users/tylertomlinson/gists{/gist_id}","starred_url":"https://api.github.com/users/tylertomlinson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tylertomlinson/subscriptions","organizations_url":"https://api.github.com/users/tylertomlinson/orgs","repos_url":"https://api.github.com/users/tylertomlinson/repos","events_url":"https://api.github.com/users/tylertomlinson/events{/privacy}","received_events_url":"https://api.github.com/users/tylertomlinson/received_events","type":"User","site_admin":false},{"login":"leepanter","id":43289682,"node_id":"MDQ6VXNlcjQzMjg5Njgy","avatar_url":"https://avatars3.githubusercontent.com/u/43289682?v=4","gravatar_id":"","url":"https://api.github.com/users/leepanter","html_url":"https://github.com/leepanter","followers_url":"https://api.github.com/users/leepanter/followers","following_url":"https://api.github.com/users/leepanter/following{/other_user}","gists_url":"https://api.github.com/users/leepanter/gists{/gist_id}","starred_url":"https://api.github.[...]
[...]
