---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1589423330'
      Etag:
      - W/"217e3ea02748961b438e635c0b7854c0"
      Last-Modified:
      - Thu, 14 May 2020 00:04:38 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"mikez321","id":58127453,"node_id":"MDQ6VXNlcjU4MTI3NDUz","avatar_url":"https://avatars0.githubusercontent.com/u/58127453?v=4","gravatar_id":"","url":"https://api.github.com/users/mikez321","html_url":"https://github.com/mikez321","followers_url":"https://api.github.com/users/mikez321/followers","following_url":"https://api.github.com/users/mikez321/following{/other_user}","gists_url":"https://api.github.com/users/mikez321/gists{/gist_id}","starred_url":"https://api.github.com/users/mikez321/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mikez321/subscriptions","organizations_url":"https://api.github.com/users/mikez321/orgs","repos_url":"https://api.github.com/users/mikez321/repos","events_url":"https://api.github.com/users/mikez321/events{/privacy}","received_events_url":"https://api.github.com/users/mikez321/received_events","type":"User","site_admin":false,"name":"Mike
        Hernandez","company":null,"blog":"","location":"Denver, CO","email":"hernandezmichael321@gmail.com","hireable":null,"bio":"Let''s
        build something together!","public_repos":51,"public_gists":13,"followers":7,"following":5,"created_at":"2019-11-24T03:36:11Z","updated_at":"2020-05-14T00:04:38Z"}'
  recorded_at: Thu, 14 May 2020 01:28:50 GMT
recorded_with: VCR 5.1.0
