---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MY_GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1589421747'
      Etag:
      - W/"0ed7a46e6815ebc2363b4d5c617acd9f"
      Last-Modified:
      - Wed, 13 May 2020 23:57:16 GMT
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"danielbldr","id":50503353,"node_id":"MDQ6VXNlcjUwNTAzMzUz","avatar_url":"https://avatars1.githubusercontent.com/u/50503353?v=4","gravatar_id":"","url":"https://api.github.com/users/danielbldr","html_url":"https://github.com/danielbldr","followers_url":"https://api.github.com/users/danielbldr/followers","following_url":"https://api.github.com/users/danielbldr/following{/other_user}","gists_url":"https://api.github.com/users/danielbldr/gists{/gist_id}","starred_url":"https://api.github.com/users/danielbldr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danielbldr/subscriptions","organizations_url":"https://api.github.com/users/danielbldr/orgs","repos_url":"https://api.github.com/users/danielbldr/repos","events_url":"https://api.github.com/users/danielbldr/events{/privacy}","received_events_url":"https://api.github.com/users/danielbldr/received_events","type":"User","site_admin":false,"name":"Daniel
        A","company":"Turing School of Software & Design","blog":"","location":"Boulder,
        CO","email":"atkinson.daniel7@gmail.com","hireable":null,"bio":"Software Developer
        | Ruby on Rails ","public_repos":42,"public_gists":6,"followers":6,"following":8,"created_at":"2019-05-10T22:18:33Z","updated_at":"2020-05-13T23:57:16Z"}'
  recorded_at: Thu, 14 May 2020 01:27:50 GMT
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MY_GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1589421747'
      Etag:
      - W/"e3fd839a1e486ddec7271151c8613e65"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":257739020,"node_id":"MDEwOlJlcG9zaXRvcnkyNTc3MzkwMjA=","name":"activerecord-obstacle-course","full_name":"danielbldr/activerecord-obstacle-course","private":false,"owner":{"login":"danielbldr","id":50503353,"node_id":"MDQ6VXNlcjUwNTAzMzUz","avatar_url":"https://avatars1.githubusercontent.com/u/50503353?v=4","gravatar_id":"","url":"https://api.github.com/users/danielbldr","html_url":"https://github.com/danielbldr","followers_url":"https://api.github.com/users/danielbldr/followers","following_url":"https://api.github.com/users/danielbldr/following{/other_user}","gists_url":"https://api.github.com/users/danielbldr/gists{/gist_id}","starred_url":"https://api.github.com/users/danielbldr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/danielbldr/subscriptions","organizations_url":"https://api.github.com/users/danielbldr/orgs","repos_url":"https://api.github.com/users/danielbldr/repos","events_url":"https://api.github.com/users/danielbldr/events{/privacy}","received_events_url":"https://api.github.com/users/danielbldr/received_events","type":"User","site_admin":false},"html_url":"https://github.com/danielbldr/activerecord-obstacle-course","description":null,"fork":true,"url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course","forks_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/forks","keys_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/keys{/key_id}","collaborators_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/teams","hooks_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/hooks","issue_events_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/issues/events{/number}","events_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/events","assignees_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/assignees{/user}","branches_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/branches{/branch}","tags_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/tags","blobs_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/git/refs{/sha}","trees_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/git/trees{/sha}","statuses_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/statuses/{sha}","languages_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/languages","stargazers_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/stargazers","contributors_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/contributors","subscribers_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/subscribers","subscription_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/subscription","commits_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/commits{/sha}","git_commits_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/git/commits{/sha}","comments_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/comments{/number}","issue_comment_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/issues/comments{/number}","contents_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/contents/{+path}","compare_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/compare/{base}...{head}","merges_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/merges","archive_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/downloads","issues_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/issues{/number}","pulls_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/pulls{/number}","milestones_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/milestones{/number}","notifications_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/labels{/name}","releases_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/releases{/id}","deployments_url":"https://api.github.com/repos/danielbldr/activerecord-obstacle-course/deployments","created_at":"2020-04-21T23:23:07Z","updated_at":"2020-04-21T23:23:09Z","pushed_at":"2020-03-04T14:22:16Z","git_url":"git://github.com/danielbldr/activerecord-obstacle-course.git","ssh_url":"git@github.com:danielbldr/activerecord-obstacle-course.git","clone_url":"https://github.com/danielbldr/activerecord-obstacle-course.git","svn_url":"https://github.com/danielbldr/activerecord-obstacle-course","homepage":null,"size":62,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":247829981,"node_id":"MDEwOlJlcG9zaXRvcnkyNDc4Mjk5ODE=","name":"adopt_dont_shop_2001","full_name":"danielbldr/adopt_dont_shop_2001","private":false,"owner":{"login":"danielbldr","id":50503353,"node_id":"MDQ6VXNlcjUwNTAzMzUz","avatar_url":"https://avatars1.githubusercontent.com/u/50503353?v=4","gravatar_id":"","url":"https://api.github.com/users/danielbldr","html_url":"https://github.com/danielbldr","followers_url":"https://api.github.com/users/danielbldr/followers","following_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MY_GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1589421747'
      Etag:
      - [...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MY_GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1589421747'
      Etag:
      - [...]
