---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1589323870'
      Etag:
      - W/"ed0b46d6c10ff1d49adbf66592286f0f"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":241024486,"node_id":"MDEwOlJlcG9zaXRvcnkyNDEwMjQ0ODY=","name":"futbol","full_name":"aperezsantos/futbol","private":false,"owner":{"login":"aperezsantos","id":53959542,"node_id":"MDQ6VXNlcjUzOTU5NTQy","avatar_url":"https://avatars2.githubusercontent.com/u/53959542?v=4","gravatar_id":"","url":"https://api.github.com/users/aperezsantos","html_url":"https://github.com/aperezsantos","followers_url":"https://api.github.com/users/aperezsantos/followers","following_url":"https://api.github.com/users/aperezsantos/following{/other_user}","gists_url":"https://api.github.com/users/aperezsantos/gists{/gist_id}","starred_url":"https://api.github.com/users/aperezsantos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aperezsantos/subscriptions","organizations_url":"https://api.github.com/users/aperezsantos/orgs","repos_url":"https://api.github.com/users/aperezsantos/repos","events_url":"https://api.github.com/users/aperezsantos/events{/privacy}","received_events_url":"https://api.github.com/users/aperezsantos/received_events","type":"User","site_admin":false},"html_url":"https://github.com/aperezsantos/futbol","description":null,"fork":true,"url":"https://api.github.com/repos/aperezsantos/futbol","forks_url":"https://api.github.com/repos/aperezsantos/futbol/forks","keys_url":"https://api.github.com/repos/aperezsantos/futbol/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aperezsantos/futbol/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aperezsantos/futbol/teams","hooks_url":"https://api.github.com/repos/aperezsantos/futbol/hooks","issue_events_url":"https://api.github.com/repos/aperezsantos/futbol/issues/events{/number}","events_url":"https://api.github.com/repos/aperezsantos/futbol/events","assignees_url":"https://api.github.com/repos/aperezsantos/futbol/assignees{/user}","branches_url":"https://api.github.com/repos/aperezsantos/futbol/branches{/branch}","tags_url":"https://api.github.com/repos/aperezsantos/futbol/tags","blobs_url":"https://api.github.com/repos/aperezsantos/futbol/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aperezsantos/futbol/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aperezsantos/futbol/git/refs{/sha}","trees_url":"https://api.github.com/repos/aperezsantos/futbol/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aperezsantos/futbol/statuses/{sha}","languages_url":"https://api.github.com/repos/aperezsantos/futbol/languages","stargazers_url":"https://api.github.com/repos/aperezsantos/futbol/stargazers","contributors_url":"https://api.github.com/repos/aperezsantos/futbol/contributors","subscribers_url":"https://api.github.com/repos/aperezsantos/futbol/subscribers","subscription_url":"https://api.github.com/repos/aperezsantos/futbol/subscription","commits_url":"https://api.github.com/repos/aperezsantos/futbol/commits{/sha}","git_commits_url":"https://api.github.com/repos/aperezsantos/futbol/git/commits{/sha}","comments_url":"https://api.github.com/repos/aperezsantos/futbol/comments{/number}","issue_comment_url":"https://api.github.com/repos/aperezsantos/futbol/issues/comments{/number}","contents_url":"https://api.github.com/repos/aperezsantos/futbol/contents/{+path}","compare_url":"https://api.github.com/repos/aperezsantos/futbol/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aperezsantos/futbol/merges","archive_url":"https://api.github.com/repos/aperezsantos/futbol/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aperezsantos/futbol/downloads","issues_url":"https://api.github.com/repos/aperezsantos/futbol/issues{/number}","pulls_url":"https://api.github.com/repos/aperezsantos/futbol/pulls{/number}","milestones_url":"https://api.github.com/repos/aperezsantos/futbol/milestones{/number}","notifications_url":"https://api.github.com/repos/aperezsantos/futbol/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aperezsantos/futbol/labels{/name}","releases_url":"https://api.github.com/repos/aperezsantos/futbol/releases{/id}","deployments_url":"https://api.github.com/repos/aperezsantos/futbol/deployments","created_at":"2020-02-17T05:09:17Z","updated_at":"2020-02-27T05:32:48Z","pushed_at":"2020-02-27T05:32:46Z","git_url":"git://github.com/aperezsantos/futbol.git","ssh_url":"git@github.com:aperezsantos/futbol.git","clone_url":"https://github.com/aperezsantos/futbol.git","svn_url":"https://github.com/aperezsantos/futbol","homepage":null,"size":547,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":261284749,"node_id":"MDEwOlJlcG9zaXRvcnkyNjEyODQ3NDk=","name":"brownfield-of-dreams","full_name":"danielbldr/brownfield-of-dreams","private":false,"owner":{"login":"danielbldr","id":50503353,"node_id":"MDQ6VXNlcjUwNTAzMzUz","avatar_url":"https://avatars1.githubusercontent.com/u/50503353?v=4","gravatar_id":"","url":"https://api.github.com/users/danielbldr","html_url":"https://github.com/danielbldr","followers_url":"https://api.github.com/users/danielbldr/followers","following_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1589323870'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1589323870'
      Etag:
      -[...]
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <MY_GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4928'
      X-Ratelimit-Reset:
      - '1589324112'
      Etag:
      - W/"9099156897d9f1459360bf212d06772c"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link[...]
[...]
